html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    background: linear-gradient(to bottom, #aec6c9, #89bcc3);
    min-height: 100vh;
    height: 100%;
    background-attachment: fixed;
}

.header {
    background: linear-gradient(to right, #205f55, #26a69a);
}

.task-item {
    background: linear-gradient(135deg, #80cbc4, #acd3cf);
}

.task-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}